body {
    min-width: 1200px;
    height: 10286.33px;
    top: 298px;
    left: 200px;
}

.centered-block {
    margin: 0 auto;
    width: 1200px;
}

.bkg {
    background: #f3f5ff;
}


.intro-block {
    padding: 120px;
    text-align: center;
}

.intro-block-header {
    font-family: "Inter", sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: #0B0A33;
    line-height: 74px;
    text-align: center;
}

.intro-block-subheader {
    font-family: "Inter", serif;
    font-size: 17px;
    font-weight: 500;
    color: #7A7D9C;
    line-height: 29px;
    margin-top: 25px;
    text-align: center;

}

.intro-block-button {
    border-radius: 34px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    background: #5335D9;
    color: white;
    border: 0px;
    height: 67px;
    padding-left: 42px;
    padding-right: 42px;
    cursor: pointer;
    margin-top: 66px;
    margin-bottom: 66px;
    text-align: center;
}

.centered-block-2 {
    margin: 0 auto;
    width: 1200px;
    height: 341.75px;
}

.intro-block-button-2 {
    border-radius: 50px;
    font-family: "Inter", sans-serif;
    font-size: 14.8px;
    font-weight: 700;
    background: #F3F5FF;
    color: #5335D9;
    border: 0px;
    height: 45.75px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.intro-block-header-2 {
    font-family: "Inter", sans-serif;
    font-size: 38.3px;
    font-weight: 700;
    color: #0B0A33;
    line-height: 56px;
    text-align: center;
    margin-top: 30px;

}

.intro-block-subheader-2 {
    font-family: "Inter", serif;
    font-size: 17.6px;
    font-weight: 500;
    color: #7A7D9C;
    line-height: 30.1px;
    margin-top: 20px;
    text-align: center;
}